<nav class="navbar navbar-default" ng-controller="authController">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Echo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Profile</a></li>
                            <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Settings</a></li>
                            <li role="presentation" class="divider"></li>
                        <li role="presentation"><input type="submit" role="menuitem" tabindex="-1"
                              class="btn btn-default" ng-click="logout()" value="logout {{user}}"/>
                        </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
        <div class="row row-left">
          <div id="sidebar">
              <div class="col-md-3">
                <ul class="sidebar-nav" >
                    <li class="sidebar-brand" ng-init="name='{{name.username}}'">
                        <h1> {{ usernamefinal }} </h1>
                    </li>
                    <li>
                        <a href="#">Find Friends:</a>
                        <form role="search">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Search">
                            </div>
                        <button type="submit" class="btn btn-default">Search</button>
                        </form>
                    </li>
                    <li>
                        <a>Contacts</a>
                           <div class="span3">
                                <table class="table">
                                  <tbody>
                                    <tr>
                                      <td>
                                         <div class="media">
                                            <div class="media-left media-middle">
                                                <a href="#">
                                            <img class="media-object" alt="" height="40px" width="40px" >
                                            </a>
                                            </div>
                                            <div class="media-body">
                                            <h4 class="media-heading">{{ info.username }}</h4>
                                            <p>The sexiest Friend ever</p>
                                            </div>
                                         </div>
                                      </td>
                                    </tr>

                                  </tbody>
                                </table>
                            </div>
                    </li>
                </ul>
              </div>
        </div>

            <!-- NEW CHAT BY ANDREW -->
                <div class="col-md-6">
                    <div class="well" ng-app="chat" ng-controller="Chat">
                      <form class="form-inline">
                        Your name: <input type="text" ng-model="username">
                      </form>
                      <div ng-cloak ng-repeat="message in messages">
                        <em>{{message.from}}: </em>{{message.content}}
                      </div><br/>
                      <form class="form-inline" ng-submit="addMessage()">
                        <input type="text" ng-model="message" placeholder="Message...">
                        <button class="btn float-right" type="submit">
                          <i class="icon-reply"> Send</i>
                        </button>
                      </form>
                    </div>

                </div>

            <!--FINISHED-->

                <!--/span-->
               <div class="col-md-3">
                    <div class="sidebar-nav-fixed pull-right affix">
                        <div class="well">
                         <div class="form-group">
                                <label>volume: <input min="0" max="1" step="0.01" type="range" ng-model="audio.volume" /></label>
                            </div>

                            <div class="form-group">
                                <button ng-disabled="currentNum == 0" class="btn btn-default prev" ng-click="prev()"><i class="glyphicon glyphicon-step-backward"></i> prev</button>
                                <button class="btn btn-default playpause" ng-click="playpause()" ng-class="{paused:audio.paused}">
                                    <span class="play-text"><i class="glyphicon glyphicon-play"></i> play</span>
                                    <span class="pause-text"><i class="glyphicon glyphicon-pause"></i> pause</span>
                                </button>
                                <button ng-disabled="currentNum >= (totalNum-1)" class="btn btn-default next" ng-click="next()">next <i class="glyphicon glyphicon-step-forward"></i></button>
                            </div>

                            <div class="form-group time">
                                <label>time: <input min="0" max="{{audio.duration}}" step="0.01" type="range" ng-model="audio.currentTime" /></label>
                            </div>

                            <div class="form-group now-playing">
                                <p>Now Playing: <img width="30" height="30" src="{{info.image}}" /></p>
                            </div>

                            <ul class="albums">
                              <li
                                ng-style="{'background-image':'url({{item.image}})'}"
                                title="{{item.artist.name}} - {{item.title}}"
                                data-file="{{item.file}}"
                              ></li>
                            </ul>
                        </div>
                        <!--/.well -->
                    </div>
                    <!--/sidebar-nav-fixed -->
                </div>
                <!--/span-->
            <!--/row-->

            </div>
        </div>







